body{
  background-color: rgb(255, 200, 0);


  font-family: Calibri, sans serif;

  margin: 50px;
  padding: 0px


<p class="caption">Caption text in here…</p>
  .caption {
	font-size: 10px;
	color: #FFFF00;
}
}
